// ............Footer........
.footer {
    border: 3px black solid;
    text-align: center;
    border: 5px black solid;
    background-color: black;
    color: white;
}
.iconify {
    font-size: 4rem;
    color: $colorFunte;
}
